DATABASE_PWD=VALUE_HERE
JWT_SECRET=VALUE_HERE
API_IPINFO_KEY=VALUE_HERE
VULNERABILITY_REGEX=(?:\b(select|union|insert|update|delete|drop|alter|exec|declare|waitfor)\b|--|\/\*|\*\/|;|OR|AND|\b(?:like|regexp)\b')|(?:\.\.\/|\.\.\\|%2e%2e%2f|%5c%2e%2e|file:\/\/|php:\/\/|data:\/\/|%2f|%5c|%2e%2e\\)|(?:<\s*script|javascript:|alert\(|prompt\(|eval\(|onerror=|onclick=|onload=|onmouseover=|onchange=|<\s*img|<\s*a|<\s*svg|<\s*iframe|<\s*form|<\s*input|<\s*textarea|<\s*button|<\s*meta|<\s*link)|(?:\|&|\;|\&|\>|\<|\$\(.+\)|\b(?:bash|sh|cmd|powershell)\b)|(?:%0d%0a|\r\n)